#main {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.main-content {
    min-width: 1088px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.main-content .left-container {
    width: 669px;
    min-height: 339px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.main-content .right-container {
    width: 318px;
    min-height: 339px;
}

/* * Book Result Container  */

.book-shelf {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.book-container  {
    display: flex;
    width: 100%;
    height: 223px;
    gap: 37px;
    cursor: pointer;
}

.book-container .book-image-container {
    height: 100%;
    width: 145px;
}

.book-image-container img {
    width: 100%;
    box-shadow: 14px 13px 5px rgba(0, 0, 0, 0.25);
}

.book-container .book-meta-container {
    height: 100%;
    width: 485px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-meta-container .meta-header {
    height: 54px;
    display: flex;
}

.meta-title-container ,.meta-date-published-container {
    font-family: "Roboto Semibold";
    font-size: 18px;
    color: #073243;
}

.meta-header .meta-title-container {
    width: 60%;
    height: 100%;
}

.meta-title-container span {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    text-align: justify;
}

.meta-header .meta-date-published-container {
    width: 40%;
    height: 100%;
}

.meta-date-published-container span {
    display: block;
    text-align: right;
}

.book-meta-container .meta-description {
    height: 107px;
    font-size: 15px;
    font-family: "Roboto Medium";
    overflow: hidden;
    color: #073243;
}

.book-meta-container .meta-description span {
    display: block;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    text-align: justify;
}

.book-meta-container .meta-chips {
    height: 27px;
    display: flex;
    justify-content: space-between;
    color: #073243;
}

.meta-chips .chip,
.meta-chips .more-chip {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #073243;
    font-size: 15px;
    font-family: "Roboto Medium";
    border-radius: 50px;
    cursor: pointer;
}

.more-chip {
    gap: 5px;
}

.more-chips .bullet {
    width: 7px;
    height: 7px;
    background-color: #0C6182;
}

/* * ---------------------  */

/* * Other Author Container  */
.other-author-container {
    height: 417px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other-author-container .other-author-header-container {
    height: 37px;
    display: flex;
    justify-content: space-between;
}

.other-author-icon-container {
    height: 100%;
    width: 60px;
    background-color: #0C6182;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}

.other-author-icon-container img {
    width: 21px;
}

.other-author-header-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto Regular";
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #073243;
    border-radius: 55px;
    color: #073243;
}

.other-author-container .other-author-list-container {
    height: 345px;
    display: flex;
    justify-content: space-between;
}

.other-author-list-container .author-container {
    height: 100%;
    width: 183px;
    cursor: pointer;
}

.author-cover-image-container {
    height: 239px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-container .default1 {
    background-color: #2F2444;
}

.default1 img {
    width: 152px;
}

.author-container h1 {
    font-family: "Playfair Medium";
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 25px;
}

.author-container span {
    font-family: "Roboto Regular";
    font-size: 15px;
}

/* * ----------------------  */

/* * Find Elsewhere  */
.find-elsewhere-container {
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.find-elsewhere-container .find-elsewhere-header-container {
    height: 37px;
    display: flex;
    justify-content: space-between;
}

.find-elsewhere-icon-container {
    height: 100%;
    width: 60px;
    background-color: #0C6182;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}

.find-elsewhere-icon-container img {
    width: 21px;
}

.find-elsewhere-header-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto Regular";
    border: 1px solid #073243;
    border-radius: 55px;
    color: #073243;
    padding-left: 40px;
    padding-right: 40px;
}

.find-elsewhere-list-container {
    height: 47px;
    display: flex;
    justify-content: space-between;
}

.find-elsewhere-list-container .source-chip1,
.find-elsewhere-list-container .source-chip2,
.find-elsewhere-list-container .source-chip3 {
    border-radius: 55px;
    padding-left: 50px;
    padding-right: 50px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBF3E6;
    font-family: "Playfair Medium";
    font-size: 15px;
    cursor: pointer;
}

.find-elsewhere-list-container .source-chip1 {
    background-color: #E56A13;
}

.find-elsewhere-list-container .source-chip2 {
    background-color: #2F2444;
}

.find-elsewhere-list-container .source-chip3 {
    background-color: #CB0000;
}

/* * --------------  */

/* * Related Findings  */
.related-findings-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.related-findings-container .related-findings-header-container {
    height: 37px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.related-findings-icon-container {
    height: 100%;
    width: 60px;
    background-color: #0C6182;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}

.related-findings-icon-container img {
    width: 21px;
}

.related-findings-header-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto Regular";
    border: 1px solid #073243;
    border-radius: 55px;
    color: #073243;
    padding-left: 40px;
    padding-right: 40px;
}

.related-findings-list-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px; 
}

.related-findings-list-container .related-find-chips {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    border-radius: 55px;
    font-size: 15px;
    font-family: "Roboto Regular";
    color: #073243;
    border: 1px solid #073243;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}
/* * ----------------  */

/* * Pagination Button  */
.pagination-container {
    width: 100%;
    display: flex;
    height: 43px;
    gap: 3%;
}

.pagination-container .page-num-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #073243;
    border-radius: 55px;
    font-size: 15px;
    font-family: "Roboto Regular";
}

.pagination-container .next-page-btn {
    display: flex;
    align-items: center;
    padding-left: 100px;
    border: 1px solid #073243;
    border-radius: 55px;
    width: 229px;
    font-size: 15px;
    font-family: "Playfair Medium";
    position: relative;
    cursor: pointer;
}

.pagination-container .next-page-btn img {
    position: absolute;
    left: 20px;
    width: 20px;
    height: 19px;
    transform: rotate(-90deg);
    cursor: pointer;
}

/* * -----------------  */

/* * Knowledge Panel */
.knowledge-panel-container {
    width: 100%;
    height: 936px;
}

.knowledge-panel-icon-header {
    height: 37px;
    background-color: #0C6182;
    width: 60px;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge-panel-icon-header img {
    width: 21px;
    height: 21px;
}

.knowledge-panel-title-header {
    font-size: 30px;
    font-family: "Playfair Medium";
    margin-bottom: 7px;
    margin-top: 15px;

}

.knowledge-panel-subtitle-header span {
    font-size: 15px;
    font-family: "Roboto Regular";
    text-align: justify;
    display: block;
}

.knowledge-panel-image-conainer {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #073243;
    border-bottom: 1px solid #073243;
    margin-top: 10px;
    margin-bottom: 15px;
}

.knowledge-panel-image-conainer img {
    width: 100%;
}

.knowledge-panel-description span {
    font-size: 15px;
    font-family: "Roboto Regular";
    display: block;
    white-space: normal;
    overflow: hidden;
    line-height: 1.4;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 20;
    -webkit-line-clamp: 20;
    text-overflow: ellipsis;
}

.knowledge-fact-panel {
    height: 382px;
    border-top: 1px solid #073243;
    border-bottom: 1px solid #073243;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* * --------------- */
