* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #FBF3E6;
    height: 100vh;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Semibold";
    src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Playfair Medium";
    src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf");
}