#header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

#header .content-container {
    width: 1088px;
    height: 114px;
}

.searchbar-container {
    width: 669px;
    height: 100%;
}

.header-searchbar-container {
    position: relative;
    height: 47px;
    margin-bottom: 20px;
}

.header-searchbar-container input {
    width: 100%;
    height: 47px;
    border-radius: 50px;
    position: absolute;
    background-color: #FBF3E6;
    padding-left: 40px;
    font-family: "Roboto Regular";
    color: #073243;
    font-size: 15px;
    border: 1px solid #073243;
    padding-right: 90px;
    position: absolute;
}

.searchbar-button-container {
    background-color: #073243;
    border-radius: 50px;
    width: 74px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0;
    position: absolute;
}

.searchbar-button-container img {
    width: 25px;
}

.header-navigations-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected, .not-selected {
    width: 111px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.selected {
    border: 1px solid #073243 ;
}

.navigation-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 61px;
    background-color: #0C6182;
    border-radius: 50px;
}

.navigation-icon img {
    width: 23px;
}