#main {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.main-content {
    min-width: 1088px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.main-content .left-container {
    width: 669px;
    min-height: 339px;
}

.main-content .right-container {
    width: 318px;
    min-height: 339px;
}