* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F4EEE2;
  color: #333;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.5;
  padding-top: 0;
}

#result-header {
  background: #F4EEE2;
  padding: 1rem;
}

.header-container {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  gap: 5em;
  align-items: center;
}

.logo-box {
  width: 50px;
  height: 50px;
  border: 2px solid #0f4257;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4EEE2;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-bar {
  display: flex;
  width: 60%;
  align-items: center;
  border: 1px solid #073243;
  border-radius: 9999px;
  background: #F4EEE2;
  overflow: hidden;
  height: 40px;
}

.search-bar input {
  flex: 1;
  padding: 0 1rem;
  border: none;
  border-right: none;
  font-size: 0.9rem;
  background-color: #F4EEE2;
  color: #333;
  height: 100%;
  box-sizing: border-box;
}

.search-bar button {
  background: #0f4257;
  color: #fff;
  width: 80px;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.search-bar .search-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.search-bar button:hover {
  background: #0a3344;
}

.h3 {
  margin-top: 2rem;
}

.star-btn img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.nav {
  max-width: 950px;
  margin: 1rem auto 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav a {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 9999px;
  text-decoration: none;
  color: #073243;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.nav a:hover {
  border-color: #073243;
}

.nav a.active {
  border: 1px solid #073243;
  font-weight: 600;
}

.star-btn {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
  background: #0f4257;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  transition: background 0.3s ease;
}

.star-btn:hover {
  background: #0a3344;
}

.star-btn img {
  width: 22px;
  height: 22px;
}


.error-section {
  max-width: 950px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 15rem;
  align-items: center;
}

.error-text h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.error-text .highlight {
  color: #FF6868;
}

.error-text .code {
  color: #0f4257;
  font-weight: bold;
}

.error-text ul {
  list-style: disc;
  padding-left: 1.2rem;
  font-size: 1rem;
  color: #555;
}

.error-img img {
  width: 100%;
  max-width: 250px;
  display: block;
  border-radius: 16px;
}

footer {
    position: relative;
    margin: 0;
    width: 100%;
    margin-top: 50px;
}

.upper-container {
    height: 340px;
    width: 100%;
    border-top: 1px solid #073243;
    border-bottom: 1px solid #073243;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #073243;
}

.shelfseek-about-us-container {
    width: 236px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shelfseek-about-us-container p {
    text-align: justify;
    font-family: "Roboto Regular";
    margin-top: 15px;
}

.shelfseek-info-lists-container {
    height: 100%;
    width: 463px;
    display: flex;
    align-items: flex-end;
    gap: 65px;
}

.shelfseek-social-container {
    width: 239px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.teck-stack-list-container,
.content-list-container,
.source-list-container,
.social-container {
    height: 200px;
}

.language-dropdown {
    display: flex;
    gap: 14px;
    font-family: "Roboto Medium";
    font-size: 15px;
    align-items: center;
}

.social-medias-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px; 
}

.social-media-button {
  width: 35px;
  height: 35px;
  border: 1px solid #073243;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden; 
}

.social-media-button:hover {
  background: #07324310; 
}

.social-media-button img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}


.follow-us-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#twitter-icon,
#instagram-icon {
    width: 15px;
}

#github-icon {
    width: 18px;
}

#facebook-icon {
    width: 16px;
}

#dropdown-language-button {
    width: 55px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #073243;
    border-radius: 50px;
    cursor: pointer;
}

.language-display-container {
    border: 1px solid #073243;
    border-radius: 50px;
    width: 169px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropdown-language-button img {
    width: 15px;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.list-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    height: 163px;
}

.list-container .list {
    font-family: "Roboto Regular";
    font-size: 15px;
}

.list-container .list {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.upper-container-content {
    width: 1087px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.upper-container-content h1, h3, p {
    margin: 0;
    color: #073243;
}

.upper-container h1 {
    font-family: "Roboto Semibold";
    font-size: 50px;
}

.upper-container h3 {
    font-family: "Roboto Medium";
    font-size: 20px;
    font-weight: 300;
}

.highlight {
    color: #FF6868;
}

.lower-container-content {
    width: 1087px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-container {
    font-family: "Roboto Regular";
    font-size: 15px;
    font-weight: 500;
    color: #073243;
    height: 71px;
    width: 100%;
    border-bottom: 1px solid #073243;
    display: flex;
    justify-content: center;
}

.lower-left-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bullet {
    height: 5px;
    width: 5px;
    background-color: #073243;
    border-radius: 50%;
}

.lower-right-container img {
    width: 12px;
    height: 12px;
    margin-left: 9px;
}

.lower-right-container {
    display: flex;
    align-items: center;
    gap: 9px;
}

.bottom-nav {
  display: none;
}
/* --------------------------------------------*/
@media (max-width: 768px) {
  .header {
    padding: 1rem 0.6rem;
    background: #F4EEE2;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    margin: 0 auto; 
  }

  .logo-box {
    width: 6rem; 
    height: 6rem;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .search-bar {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid #073243;
    border-radius: 9999px;
    background: #F4EEE2;
    overflow: hidden;
    height: 40px;
    margin: 0 auto;
  }

  .search-bar input {
    flex: 1;
    border: none;
    border-right: none;
    padding: 0 1rem;
    font-size: clamp(0.85rem, 2.3vw, 0.95rem);
    outline: none;
    background: #F4EEE2;
    color: #333;
    height: 100%;
    box-sizing: border-box;
  }

  .search-bar button {
    background: #0f4257;
    color: #fff;
    width: 80px;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .search-bar .search-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto; 
    white-space: nowrap;
    padding: 0 0.4rem;
    overflow-x: auto; 
  }

  .nav::-webkit-scrollbar {
    display: none;
  }

  .nav a {
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    padding: 0.45rem 2rem;
    border-radius: 9999px;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
  }

  .nav a.active {
    border: 1px solid #073243;
  }

  .nav a:hover {
    color: #0f4257;
  }

  .star-btn {
    width: 42px;
    height: 42px;
    background: #0f4257;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 10px; 
  }

  .star-btn img {
    width: 24px; 
    height: 24px; 
    object-fit: contain;
    filter: brightness(0) invert(1); 
  }

  .error-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 1.2rem;
    margin: 2rem 5rem;
  }

  .error-text h1 {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.7;
    color: #0f4257;
    max-width: 550px;
    margin-bottom: 1rem;
  }

  .error-text .highlight {
    color: #FF6868; 
    font-weight: 600;
  }

  .error-text .code {
    color: #0f4257;
    font-weight: 700;
  }

  .error-text ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 550px;
  }

  .error-text ul li {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
  }

  .error-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6868;
    padding: 1.25rem; 
    border-radius: 18px; 
    margin-top: 0.5rem;
  }

  .error-img img {
    width: 60%;
    max-width: 200px;
    height: auto;
    display: block;
    border-radius: 0; 
  }

  .footer {
    display: none;
  }

  .bottom-nav {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1.5rem);
    background: rgb(244, 238, 226);
    border: 1px solid #073243;
    border-radius: 9999px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 0; 
    overflow: hidden; 
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px ;
  }

  .bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #073243;
    font-size: 0.75rem;
    gap: 3px;
    width: 100%; 
    padding: 0.5rem 0; 
  }

  .bottom-nav a .nav-icon {
    width: 24px;
    height: 24px;
  }

  .bottom-nav a.active {
    color: #fff;
    background: #0f4257;
    border-radius: 9999px;
    padding: 0.5rem 0; 
    font-weight: 600;
  }
  
  .active { outline: 0; }
  .nav-icon { display: block; }

  .footer-container,
  .footer-bottom {
    display: none;
  }

  body {
    padding-bottom: 4rem;
  }
}

/* ---------------------------------------------*/
@media (max-width: 480px) {
  .bottom-nav {
    width: calc(100% - 1rem);
    bottom: 8px;
  }

  .bottom-nav a {
    font-size: 0.7rem;
    padding: 0.45rem 0;
  }

  .bottom-nav a .nav-icon {
    width: 18px;
    height: 18px;
  }
  
  .logo-box {
    width: 5.8rem; 
    height: 5.8rem;
  }
  
  .search-bar {
    width: 85%;
    height: 40px
  }

  .search-bar button {
    width: 60px;
  }

  .nav a {
    padding: 0.4rem 0.75rem;
    margin-bottom: 1rem;
  }

  .star-btn {
    width: 36px;
    height: 36px;
    padding: 8px;
  }
  
  .star-btn img {
    width: 20px;
    height: 20px;
  }

  .error-section {
    margin: 2px 2.2rem;
  }

  .error-text h1 {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .error-text ul li {
    font-size: 0.9rem;
  }

  .error-img {
    border-radius: 18px;
  }

  .error-img img {
    width: 60%;
    max-width: 160px;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 375px) {
  .search-bar button {
    width: 50px;
  }
  .star-btn {
    width: 32px;
    height: 32px;
    padding: 6px;
  }
  
  .star-btn img {
    width: 16px;
    height: 16px;
  }
  
  .bottom-nav {
    width: calc(100% - 0.8rem);
    bottom: 6px;
  }

  .bottom-nav a {
    font-size: 0.65rem;
  }

  .bottom-nav a .nav-icon {
    width: 15px;
    height: 15px;
  }
  .logo-box {
    width: 4.5rem;
    height: 4.5rem;
  }

  .search-bar {
    height: 30px;
  }

  .search-bar input {
    font-size: 0.8rem;
  }
  .nav a {
    padding: 0.4rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 0.60rem;
  }

  .error-section {
    margin: 1rem 2rem;
  }

  .error-text h1 {
    font-size: 0.95rem;
  }

  .error-text ul li {
    font-size: 0.8rem;
  }

  .error-img {
    padding: 1.5rem 0;
    border-radius: 16px;
  }

  .error-img img {
    width: 65%;
    max-width: 140px;
  }

  .footer {
    display: none;
  }
}
/* ------------------------------------*/
@media (max-width: 320px) {
  .star-btn {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  
  .star-btn img {
    width: 14px;
    height: 14px;
  }
  
  .bottom-nav {
    width: calc(100% - 0.6rem);
    bottom: 4px;
  }

  .bottom-nav a {
    font-size: 0.6rem;
    padding: 0.4rem 0;
  }

  .bottom-nav a .nav-icon {
    width: 16px;
    height: 16px;
  }

  .search-bar {
    height: 28px;
  }

  .nav a {
    font-size: 0.6rem;
    padding: 0.35rem 0.5rem;
  }

  .star-btn {
    width: 34px;
    height: 34px;
  }

  .error-section {
    margin: 0 2rem;
  }

  .footer {
    display: none;
  }
}
