body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url('../cursor/cursor-default.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
