* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #FBF3E6;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
}